/* global css to be pulled into _app.js */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #fb00ff;
    text-decoration: none;
}

h1 {
    font-weight: 400;
    font-size: 150%;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

#__next-prerender-indicator {
    display: none;
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
}